CONFIG_ARCH_RV32I=y
CONFIG_MMU=y
CONFIG_EXPERT=y
CONFIG_PRINTK=y
CONFIG_TTY=y
# CONFIG_RISCV_ISA_C is not set
# CONFIG_FPU is not set
# CONFIG_SMP is not set
# CONFIG_MODULES is not set
# CONFIG_EFI is not set
# CONFIG_PCI is not set
# CONFIG_NET is not set
# CONFIG_NETDEVICES is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_DRM is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_MMC is not set
# CONFIG_VT is not set
CONFIG_BLK_DEV_INITRD=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_BINFMT_ELF=y
CONFIG_SHMEM=y
CONFIG_TMPFS=y
CONFIG_RISCV_SBI_V01=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_HVC_RISCV_SBI=y
CONFIG_HZ_100=y
# CONFIG_HZ_250 is not set
CONFIG_CMDLINE="earlycon=sbi console=hvc0 rdinit=/init lpj=10000"
CONFIG_CMDLINE_FORCE=y
